body {
    background: #FAF0E6;
    font-family: roboto;
    text-align: center;
    color: #778899;
}

@font-face {
    font-family: 'TheStudentsTeacher';
    src: url('../assets/font/the_students_teacher/TheStudentsTeacher-Regular.ttf');
}

tr {

    font-size: 15pt;
    font-variant: inherit;
}
